@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-start {
  display: flex;
  align-items: start;
  justify-content: start;
}

@mixin title {
  font: {
    size: 30px;
    weight: 500;
  }
  color: #0C0C0C;
}

@mixin text {
  font: {
    size: 22px;
    weight: 300;
  }
  color: #0C0C0C;
}
