@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  width: 100%;
  @include flex-center;
  flex-direction: column;
  background-color: #F2F2F2;
}

.form {
  width: 800px;
  height: 200px;
  @include flex-center;
  flex-direction: column;
  margin-top: 40px;
  border: 1px solid #999999;
  border-radius: 10px;

  &__label {
    @include text;
    font-weight: 400;
  }

  &__input {
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;

    &-type-text {
      padding-left: 10px;
    }
    &-type-select {
      padding-left: 6px;
    }
    &-btn {
      background-color: rgba(0, 229, 22, 0.6);
    }
  }
}

.main {
  width: 800px;
  height: auto;
  @include flex-start;
  margin-top: 40px;
}

.column {
  width: 390px;
  height: auto;
  @include flex-start;
  flex-direction: column;
  border: 1px solid #999999;
  border-radius: 10px;
  padding: 20px;
  &-left {
    margin-right: 10px;
  }
  &-right {
    margin-left: 10px;
  }

  &__title {
    @include title;
    margin-bottom: 10px;
  }

  &__list-f1, &__list-f2 {
    @include flex-start;
    flex-direction: column;
    list-style: none;
  }

  &__h1, &__h2 {
    @include text;
    margin-top: 10px;
    color: #0026FF;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}
