@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F2F2F2;
}

.form {
  width: 800px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  border: 1px solid #999999;
  border-radius: 10px;
}
.form__label {
  font-size: 22px;
  font-weight: 300;
  color: #0C0C0C;
  font-weight: 400;
}
.form__input {
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
}
.form__input-type-text {
  padding-left: 10px;
}
.form__input-type-select {
  padding-left: 6px;
}
.form__input-btn {
  background-color: rgba(0, 229, 22, 0.6);
}

.main {
  width: 800px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 40px;
}

.column {
  width: 390px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #999999;
  border-radius: 10px;
  padding: 20px;
}
.column-left {
  margin-right: 10px;
}
.column-right {
  margin-left: 10px;
}
.column__title {
  font-size: 30px;
  font-weight: 500;
  color: #0C0C0C;
  margin-bottom: 10px;
}
.column__list-f1, .column__list-f2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}
.column__h1, .column__h2 {
  font-size: 22px;
  font-weight: 300;
  color: #0C0C0C;
  margin-top: 10px;
  color: #0026FF;
  text-decoration: underline;
}
.column__h1:hover, .column__h2:hover {
  cursor: pointer;
}
